@tailwind base;
@tailwind components;

.center {
  @apply top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 absolute
}

.column {
  @apply flex flex-col
}

.row {
  @apply flex flex-row
}

@font-face {
  font-family: 'Catatan Perjalanan';
  src: local('Catatan Perjalanan'), url('./Catatan\ Perjalanan.otf')
}
@tailwind utilities;

@import '~antd/dist/antd.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
